
*.pyc
Random_Graph_Generator/Graphs/BA-Model_3_0.txt
Random_Graph_Generator/Graphs/BA-Model_3_0_Edge.txt
Random_Graph_Generator/Graphs/BA-Model_3_1.txt
Random_Graph_Generator/Graphs/BA-Model_3_1_Edge.txt
Random_Graph_Generator/Graphs/BA-Model_3_2.txt
Random_Graph_Generator/Graphs/BA-Model_3_2_Edge.txt
Random_Graph_Generator/Graphs/ER-Model_0.1_0.txt
Random_Graph_Generator/Graphs/ER-Model_0.1_0_Edge.txt
Random_Graph_Generator/Graphs/ER-Model_0.1_1.txt
Random_Graph_Generator/Graphs/ER-Model_0.1_1_Edge.txt
Random_Graph_Generator/Graphs/ER-Model_0.1_2.txt
Random_Graph_Generator/Graphs/ER-Model_0.1_2_Edge.txt
Random_Graph_Generator/Graphs/WS-Model_4_0.1_0.txt
Random_Graph_Generator/Graphs/WS-Model_4_0.1_0_Edge.txt
Random_Graph_Generator/Graphs/WS-Model_4_0.1_1.txt
Random_Graph_Generator/Graphs/WS-Model_4_0.1_1_Edge.txt
Random_Graph_Generator/Graphs/WS-Model_4_0.1_2.txt
Random_Graph_Generator/Graphs/WS-Model_4_0.1_2_Edge.txt
Random_Graph_Generator/Graphs/WS-Model_4_0.1_3_Edge.txt
Random_Graph_Generator/Graphs/WS-Model_4_0.1_3.txt
Datasets/MNIST/processed/test.pt
Datasets/MNIST/processed/training.pt
Datasets/MNIST/raw/t10k-images-idx3-ubyte
Datasets/MNIST/raw/t10k-images-idx3-ubyte.gz
Datasets/MNIST/raw/t10k-labels-idx1-ubyte
Datasets/MNIST/raw/t10k-labels-idx1-ubyte.gz
Datasets/MNIST/raw/train-images-idx3-ubyte
Datasets/MNIST/raw/train-images-idx3-ubyte.gz
Datasets/MNIST/raw/train-labels-idx1-ubyte
Datasets/MNIST/raw/train-labels-idx1-ubyte.gz
Datasets/CIFAR10/cifar-10-python.tar.gz
Datasets/CIFAR10/data_batch_1
Datasets/CIFAR10/data_batch_2
Datasets/CIFAR10/data_batch_3
Datasets/CIFAR10/data_batch_4
Datasets/CIFAR10/data_batch_5
Datasets/CIFAR10/README.md
Datasets/CIFAR10/test_batch
*.pt
Training_Result_Evaluator/Training_Acc_Logging_File_WS-Model-4-0.1.txt
Training_Result_Evaluator/Evaluating_Loss_Logging_File_WS-Model-4-0.1.txt
Training_Result_Evaluator/Training_Loss_Logging_File_WS-Model-4-0.1.txt
Training_Result_Evaluator/Evaluating_Acc_Logging_File_WS-Model-4-0.1.txt
Training_Logging_File.txt
Random_Graph_Generator/Generator/ERDegree.py
Random_Graph_Generator/Generator/BADegree.py
Random_Graph_Generator/Generator/WSDegree.py
Training_Result_Evaluator/WS_0.75_4_CIFAR10/Evaluating_Acc_Logging_File_WS-Model-4-0.75.txt
Training_Result_Evaluator/WS_0.75_4_CIFAR10/Evaluating_Loss_Logging_File_WS-Model-4-0.75.txt
Training_Result_Evaluator/WS_0.75_4_CIFAR10/Training_Acc_Logging_File_WS-Model-4-0.75.txt
Training_Result_Evaluator/WS_0.75_4_CIFAR10/Training_Loss_Logging_File_WS-Model-4-0.75.txt
Training_Result_Evaluator/ER_0.8_CIFAR10/Evaluating_Acc_Logging_File_ER-Model-0.8.txt
Training_Result_Evaluator/ER_0.8_CIFAR10/Evaluating_Loss_Logging_File_ER-Model-0.8.txt
Training_Result_Evaluator/ER_0.8_CIFAR10/Training_Loss_Logging_File_ER-Model-0.8.txt
Training_Result_Evaluator/ER_0.8_CIFAR10/Training_Acc_Logging_File_ER-Model-0.8.txt
